@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background: #f4f4f5;
  color: #18181b;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
